body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background-color: #ddd;
}

section {
    padding: 40px;
}

#informacion h2,
#destacados h2,
#campeones h2 {
    text-align: center;
}

.champion-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.champion-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


#runas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.runa-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.runa-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}


#objetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.objeto-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.objeto-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

